body {
    overflow-x: hidden !important;
    background-color: #f5f5f5;

}

.home {
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.9)), url(photos/intro-bg.jpg);
    background-size: cover;
    background-position: center center;
}

.home h1 {
    font-family: 'Open Sans', sans-serif;
}

.navbar {
    background-color: #080808 !important;
}

.home-content h1 {
    color: #fff;
    font-weight: 600;
    font-size: 4rem;
    margin-bottom: 1.5rem !important;
    line-height: 1.2;
    font-family: var(--bs-font-sans-serif);
}

.home-content span::after {
    content: ' ';
    animation: words infinite 5s;


}

@keyframes words {

    10% {
        content: " Designer";
        font-size: 3rem;
        left: 10rem;
    }

    40% {
        content: "Developer";
        font-size: 3rem;
        left: 10rem;
    }

    70% {
        content: "Freelancer";
        font-size: 3rem;
        left: 10rem;
    }

    90% {
        content: "Photographer";
        font-size: 3rem;
        left: 10rem;
    }

}

.c-2 {
    width: 100%;
    margin-top: 5rem;
}

.a-i {
    font-weight: 700;
    color: #1e1e1e;
    font-size: 1rem;
}

.title-left {
    font-size: 2.5rem;
    position: relative;



}

.title-left::before {
    content: '';
    position: absolute;
    top: 120%;
    height: 3px;
    background-color: #0078ff;
    width: 120px;

}

.box-shadow {
    padding: 5rem 1.25rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
    position: relative;
    background-color: #fff;
    margin-bottom: 3rem;
    z-index: 2;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}


.about {
    background-image: url(../images/light_dot.jpg);
}

.title-sec h1 {
    font-size: 3rem;
    font-weight: bold;
    color: #1e1e1e;
    margin-bottom: .5rem;
    line-height: 1.2;
}

.title-sec P {
    color: #4e4e4e;
    margin-bottom: 1rem;

}

.line {
    width: 60px;
    height: 5px;
    background-color: #0078ff;
    margin: auto;
    user-select: none;
    margin-bottom: 3rem;
}

.box {
    background-color: #fff;
    padding: 3.5rem 3.3rem !important;
    border-radius: 1rem;
    margin-bottom: 3rem;
    text-align: center;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.box h2 {
    font-size: 1.4rem;
    text-transform: uppercase;
    padding: .4rem 0;

}

.box .service-ico {
    margin-bottom: 1rem;
    color: #1e1e1e;
}

.box .ico-circle {
    transition: all .5s ease;
    height: 100px;
    width: 100px;
    font-size: 2rem;
    border-radius: 50%;
    line-height: 1.55;
    margin: 0 auto;
    text-align: center;
    box-shadow: 0 0 0 10px #0078ff;
}

.ico-circle:hover {
    color: white;
    background-color: #0078ff;
    box-shadow: 0 0 0 10px #e7e7e7;

}

.section-counter {
    height: 400px;
    background: linear-gradient(rgba(64, 93, 126, 0.9), rgba(122, 184, 255, 0.9)), url(photos/counters-bg.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

}


.counter-box {
    color: #fff;
    text-align: center;

}

.ico-circle2 {
    height: 50px;
    width: 50px;
    font-size: 2rem;
    border-radius: 50%;
    line-height: 1.55;
    margin: 0 auto;
    text-align: center;
    box-shadow: 0 0 0 10px;

}





.work-box {
    margin-bottom: 3rem;
    background-color: #fff;
    box-shadow: 0 13px 8px -10px rgba(0, 0, 0, 0.1);
    overflow: hidden;

}



.work-box img {

    width: 100%;
    margin-bottom: 3rem;
    transition: transform 1s;
}

.work-box:hover img {
    transform: scale(1.1);
}

.testimonials {
    background-image: url(photos/overlay-bg.jpg);
    position: relative;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    height: 90%;
}

.overlay-1 {
    position: absolute;
    top: 0;
    left: 0px;
    padding: 0;
    height: 100%;
    width: 100%;
    opacity: .5;
    background-color: #0078ff;
}

.carousel-indicators .rounded {
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 50rem !important;
    margin-bottom: -3rem;
}

.card-blog {
    box-shadow: 5px 8px 8px 5px rgba(0, 0, 0, 0.1);
}

.card-blog a {
    color: #1e1e1e;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
}

.card-blog a:hover {

    color: #0078ff;
}

.card-category-box {

    line-height: 25px;
    overflow: hidden;
    position: absolute;
    left: 40%;
    top: -7%;
    color: #fff;
    padding: 3px 5px 0 5px;
    overflow: hidden;
    background-color: #0078ff;
    border-radius: 4px;
    text-align: center;

}

.card-link {
    font-size: 1.3rem;
    color: #1e1e1e !important;
    font-weight: 500;
    line-height: 1.2;
    text-decoration: none;
    margin-top: 1rem;
}



.fo-img {
    width: 32px;
    height: 32px;
    margin-right: 4px;
    overflow: hidden;
    border-radius: 50% !important;
    vertical-align: middle
}

.card-blog .post-date {
    color: #4e4e4e;
    display: flex;
    justify-content: flex-end;


}

.post-date i {
    padding: .2rem .3rem 0 0;
}

.bg-image {
    background-image: url(photos/overlay-bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
}

.overlay-2 {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: .5;
    background-color: #0078ff;
}

.paralax {
    padding: 4rem 0 0 0;
    margin-top: 4rem;
    position: relative;

}

.box-shadow-full {
    padding: 3rem;
    position: relative;
    background-color: #fff;
    margin-bottom: 3rem;
    z-index: 2;
    box-shadow: 5px 8px 8px 5px rgba(0, 0, 0, 0.1);
}

.btn-sup {
    background: #0078ff;
    border: 0;
    padding: 10px 24px;
    color: #fff;
    transition: 0.4s;
    border-radius: 20rem;
    font-size: 1.2rem;


}

.list-ico {
    list-style: none;

}

.btn-sup:hover {
    background: #6ab0ff;
}

.forIcons i {
    width: 1.3rem;
}

.forIcons a:hover {
    background-color: #0078ff;
}

.forIcons i:hover {
    color: #f5f5f5;
}

footer {
    color: #fff;
    padding: 25px 0;
    background: #0062d3;
    text-align: center;
}

.w-title {
    font-size: 1.5rem;

}

.w-ctegory {
    color: #0078ff;

}